{$C_BLOCK_H_L}{$TITLE}{$C_BLOCK_H_R}
<div class="panel bg1 portal-no-margin">
	<div class="inner">
		<div class="postbody portal-module-postbody">
			<div class="content portal-module-content">
				<section class="liquid-slider" id="main-slider">
					<div>
						<h2 class="title"><img src="http://localhost/phpbb3/ext/board3/portal/styles/all/theme/images/portal/portal_attach.png" />Slide 1</h2>
						<div>
							<img src="http://th05.deviantart.net/fs70/PRE/f/2012/340/2/e/2e3837260bc002d7aebeed754df3b33d-d5n85ei.jpg" style="max-height: 100%; max-width: 100%;"/>
							<p>Very much content this is. Text so much above. Very image in background.</p></div>
					</div>
					<div>
						<h2 class="title">Slide 2</h2>
						<p>Content2</p>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- INCLUDEJS portal/assets/jquery.touchSwipe.js -->
<!-- INCLUDEJS portal/assets/jquery.liquid-slider.min.js -->
